<p> Ruches </p>
<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel *ngFor="let apiary of apiaries; let i = index">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{apiary.name}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let hive of apiary.hives; let i = index">
                    <mat-card class="mat-elevation-z4">
                        <mat-card-header>
                            <mat-card-title>{{hive.name}}</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>
                            <p>

                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button (click)="view(hive.id)">VOIR</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>


    </mat-expansion-panel>
</mat-accordion>
