<!-- <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px"> -->
    <div fxFlex>
    <mat-card class="card">
        <mat-card-header class="header">
          <div class="subheading-2 title">Title</div>
          <div class="header-actions">
            <button mat-icon-button><mat-icon>search</mat-icon></button>
            <button mat-icon-button><mat-icon>view_module</mat-icon></button>
            <button mat-icon-button><mat-icon>more_vertical</mat-icon></button>
          </div>
        </mat-card-header>
        <mat-card-content class="content">
          <!-- Insert content here -->
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Traitement
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    test
                </p>
            </mat-card-content>
        </mat-card>
    <!-- </div> -->


    <!--    <div fxFlex>
        <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [label]="'New task!'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'success'" [icon]="'shopping_cart'" [count]="124" [label]="'New Orders!'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="13" [label]="'New Tickets!'"></app-stat>
    </div> -->
</div>
