<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex='66%'>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Informations
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Nom : {{hive.name}}
                ID: {{hive.colony.id}}
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex>
        <widget-colony [colony_id]=hive.colony.id></widget-colony>
    </div>
</div>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <widget-inspection fxFlex='33%' [colony_id]=hive.colony.id></widget-inspection>
</div>

<!-- <table mat-table [dataSource]="fakeProducts" class="mat-elevation-z2">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Product Name </th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
    </ng-container>
</table> -->

<mat-fab-menu id="add-button" color="primary" [fabButtons]="fabButtonsRandom" direction="left"
    (onFabMenuItemSelected)="selectedAction($event)">
</mat-fab-menu>
